<div class="row">
    <div class="col-md-12 my-2">
        <h1 class="fs-2"> Tous nos dernières blagues </h1>
    </div>
    {% for joke in jokes %}
    <a href="{{ path('app_home_joke', {id: joke.id}) }}" class="text-decoration-none">
        <div class="col-md-12 border p-3 bg-dark text-white rounded my-1">
            <h2 class="fs-4"> {{ joke.category }}</h2>
            <p> {{ joke.description }}</p>
            <hr>
            <p> Par {{ joke.user.pseudo }} </p>
        </div>
    </a>
    {% else %}
    <div class="col-md-12">
        <p> Il semblerait qu'aucune blague n'a été créer pour cette catégorie,<a href="{{ path('app_joke_new') }}"> soyez le premier </a> </p>
    </div>
    {% endfor %}

    <div class="navigation">
        {{ knp_pagination_render(jokes) }}
    </div>
</div>