{% extends 'base.html.twig' %}

{% block title %}Vos blagues{% endblock %}

{% block body %}
    <h1>Vos blagues</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for joke in jokes %}
            <tr>
                <td>{{ joke.id }}</td>
                <td>{{ joke.description }}</td>
                <td>
                    <a class="btn btn-primary" href="{{ path('app_joke_show', {'id': joke.id}) }}">Voir</a>
                    <a class="btn btn-warning" href="{{ path('app_joke_edit', {'id': joke.id}) }}">Éditez</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_joke_new') }}">Create new</a>
{% endblock %}
