{% extends 'base.html.twig' %}

{% block title %}Modérez des blagues{% endblock %}

{% block body %}
    <h1>Modérez des blagues</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Description</th>
                <th>Auteur</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for joke in jokes %}
            <tr>
                <td>{{ joke.id }}</td>
                <td>{{ joke.description }}</td>
                <td>{{ joke.user }} </td>
                <td>
                    <a class="btn btn-primary" href="{{ path('app_joke_show', {'id': joke.id}) }}">Voir</a>
                    <a class="btn btn-warning" href="{{ path('app_joke_edit', {'id': joke.id}) }}">Éditez</a>
                     {{ include('joke/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">Pas de blague enregistrer</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
