{% extends 'base.html.twig' %}

{% block title %}Joke{% endblock %}

{% block body %}

<div class="row">
    <div class="col-md-12">

    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" href="{{ path('app_joke_index') }}">Retournez à la liste des blagues</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ path('app_joke_edit', {'id': joke.id}) }}">Éditer</a>
        </li>
    </ul>
    </div>
</div>

<div class="row">
    <div class="col-md-12 border p-3 bg-dark text-white rounded my-1">
        <h2 class="fs-4"> {{ joke.category }}</h2>
        <p> {{ joke.description }}</p>
        <hr>
        <p> Par {{ joke.user.email }} </p>
    </div>
</div>



    {{ include('joke/_delete_form.html.twig') }}
{% endblock %}
